<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/index.html">KRC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/pages/about.html">ABOUT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/academics.html">ACADEMICS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/admission.html">ADMISSION</a>
                </li>

                <!-- Student & Parent Engagement Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        STUDENT & PARENT ENGAGEMENT
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pages/student.html">Student Enrollment</a></li>
                        <li><a class="dropdown-item" href="/pages/parent.html">Parent Enrollment</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/pages/archievements.html">Archievements</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/faculty-staff.html">FACULTY & STAFF</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/contacts.html">CONTACTS</a>
                </li>
            </ul>

            <!-- Search Form -->
            <form class="d-flex" id="searchForm">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>